<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AboutUs</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/custom.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
</head>

<body><div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation">
     <div class="nav-wrapper container">
       <a id="logo-container" href="#" class="brand-logo">Text Summarizer</a>
       <ul class="right hide-on-med-and-down">
         <li><a href="{{url_for('index')}}">Home</a></li>
          
          <li><a href="{{url_for('about')}}">About</a></li>
       </ul>

       <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
	<ul id="nav-mobile" class="sidenav">
        <li><a href="{{url_for('index')}}">Home</a></li>
         
         <li><a href="{{url_for('about')}}">About</a></li>
      </ul>

<br>
<header id="AboutUs"><h2 class ="center" style="font-family: 'Poppins', sans-serif;">Summarize in 1-click</h2></header>
<br>
<br>
    <table>
        <tbody><tr>
            <td>
                
                <div id="develop" class="center">
                
                <a>
                    
                <p style="margin : 0; padding-top:0;">Text summarizer is a natural language processing based summarizer app which can condense any long text,article to its key point instantly and locate its critical information and thus reducing the user's reading time.</p>
                  <br>  </a><p><a>This site is owned and maintained by <strong></strong></a><strong><a href="https://coeaibbsr.in/" target="_blank"> Center of Excellence on Artificial Intelligence, CET Bhubaneswar </a> </strong></p>
                    <br>
                    <a>
                        <p><b>Address: </b>Odisha University of Technology and Research, Techno Campus, Bhubaneswar-751003</p>
                        <p style="margin : 0; padding-top:0;"> <br> +91-7327018734</p>
                        <p style="margin : 0; padding-top:0;"> <br> coeaidirector@cet.edu.in</p></div>
                </a>
                </div>
                
            </td>

        </tr>
    </tbody></table>
<br>
<br>
<div id="developers" style="font-family: 'Poppins', sans-serif;">
    <p>This site has been developed by one of our interns of the Lab:</p>

    <a href="https://www.linkedin.com/in/subhankit-prusti-1543ba1b0/" target="_blank"><p>Subhankit Prusti</p></a>
</div>



  
  
  
  
  
</body></html>




